.favContainer {
    margin-top: 25vh;
    width: 86%;
    height: 100%;
    min-height: 55vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    background-color: #000000;
    border-radius: 15px;
    background-repeat:repeat;
    background-size: 55%;
    position: relative;
    right: 0;
    z-index: 2;
    background: linear-gradient(340deg, rgba(70,39,44,1) 16%, rgba(144,2,48,1) 82%);
    border: 2px solid red;
}



    .hoverBorder:hover {
    border: 2px;
    cursor: pointer;
    border-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(226,35,62,1) 38%, rgba(64,29,253,1) 64%, rgba(252,176,69,1) 100%);
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
}

.favPageContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}


@media (max-width: 600px) {
    .favContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;
    }
}
