.footer-container {
    position: relative;
    bottom: 0;
    background-color:#393737;
    backdrop-filter: blur(30px);
    width: 100vw;
    height: 15vh;
    text-align: center;
    color: white;
    border: white 2px;
}