.footer {
    background: linear-gradient(13deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgba(53,0,255,1) 100%);
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    width: 30%; /* Ajusta según tus necesidades */
    margin-bottom: 20px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }
  