.home {
    margin-top: 18vh;
    margin-bottom: 10vh;
    margin-right: 3vw;
    min-width: 100%;
    min-height: 100%;
   display: grid;
   grid-template-columns: 3fr 9fr;
}

@media screen and (max-width: 600px) {
    .events-container {
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1080px) {
    .events-container {
    }
  }
  