.home {
    margin-top: 18vh;
    margin-bottom: 10vh;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns:  2fr 10fr;
}

.button {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
  }

.day {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    right: 20px;
   
  }

  .hide {
    display: none;
    background-color: aliceblue;
  }
  
  .selector {
    position: absolute;
    top: 20vh;
    width: 20vw;
    height: 32vh;
    left: 93px;
    background-color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
  }

@media screen and (max-width: 600px) {
    .events-container {
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        
    }
  }
  

  

  