.home {
    margin-top: 18vh;
    margin-bottom: 10vh;
    margin-right: 3vw;
    min-width: 80vw;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}