.events-container {
  width: 72vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #000000;
  border-radius: 15px;
  background-repeat:repeat;
  background-size: 55%;
  position: relative;
  right: 30px;
  z-index: 2;
  border: 2px solid white;
  margin-left: 10px;
}



.headerCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: grey;
  position: absolute;
  top: 20px;
}

/* //HACER DISPLAY FLEX, FLEX ROW PARA CORAZON DE LIKE CON HORA */

.eventTitle {
  margin: 10px;
  margin-top: 0;
}
.genre {

  margin-bottom: 30px;

}


.noHeaderCard {
  margin-top: 5vh;
}

.event {
  width: 8vw;
  height: 20vh;
  border-radius: 12px;
  object-fit: cover;
  }

@media screen and (max-width: 600px) {
  .events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  } 

  
  .event {  
    width: 60%;
    height: 50%;
    border-radius: 12px;
    object-fit: cover;
  }
}

@media screen and (min-width: 600px) and (max-width: 1080px) {

  .events-container {
    width: 100%;
    height: 80%;
  }

  .event {
    width: 60%;
    height: 50%;
    border-radius: 12px;
    object-fit: cover;
  }
}

.moreInfo {
    color: #0000ff;
  }


  .favIcon {
    color: red;
    margin-top: 10px;
  }

  .noFavIcon {
    color: blue;
    margin-top: 10px;
  }