.events-container {
  width: 70vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 15px;
  background-repeat:repeat;
  background-size: 55%;
  position: relative;
  right: 0;
  z-index: 2;
}

.events-container h3 {
  color: #919c00;
}

.event {
  width: 60%;
  height: 80%;
  border-radius: 12px;
  object-fit: cover;
  }

@media screen and (max-width: 600px) {
  .events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  } 
  .event {  
    width: 60%;
    height: 80%;
    border-radius: 12px;
    object-fit: cover;
  }
}

@media screen and (min-width: 600px) and (max-width: 1080px) {

  .events-container {
    width: 100vw;
  }

  .event {
    width: 60%;
    height: 80%;
    border-radius: 12px;
    object-fit: cover;
  }
}


  

.moreInfo {
    margin-bottom: 5vh;
    color: #0000ff;
  }
