.clubsEventsContainer {
    margin-top: 15vh;
    margin-bottom: 10vh;
    width: 90vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0c124e;
    border-radius: 15px;
    background-repeat:repeat;
    background-size: 55%;
    overflow: auto;
    margin-left:5vw;        
    border: solid white 2px;
}



.eventImg { 
    width: 60%;
    height: 50%;
    border-radius: 12px;
    cursor: pointer;
}

/* ///////////////////////////HACER DISPLAY GRID Y AÑADIR DESCRIPCION AL MODAL //////////////////////////// */

.eventHour {
    color: #131313;
    background-color:#ffffff;
    border-radius: 12px;
    width: 6vw;
  }


.clubsEventsContainer a {
    width: 80px;
}

.hoverCard:hover {
    background-color: #363535;
    cursor: pointer;
    filter: drop-shadow(0 0 0.75rem rgb(210, 210, 210));
}

.clubsEvent {
        width: 60%;
        height: 50%;
        border-radius: 12px;
        object-fit: cover; 
        transition: 1s;
}

.clubsEvent:hover {
    opacity: 80%;
    z-index: 2;
}

.newEvent {
    width: 60%;
    height: 50%;
    border-radius: 12px;
    object-fit: cover; 
    opacity: 40%;
    transition: 1s;
}


.creatorContainer {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;  
}

.clubsEventImg {
    width: 7vw;
    height: 17vh;
    border-radius: 12px;
    object-fit: cover;
    cursor: pointer;
}

.clubsEventImg:hover {
    opacity: 60%;
    z-index: 2;
}