html {
  background-color:#393737;
  margin: 0;
  padding: 0;
}


body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;  
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}


