.header-container {
    position: fixed;
    top: 0;
    background-color:transparent;
    backdrop-filter: blur(15px);
    width: 100vw;
    height: 9vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}


@media screen and (max-width: 600px) {
    .header-container {
        background-color: aliceblue;
    }
}

@media screen and (min-width : 600px) and (max-width: 1080px) {
    .header-container {
        background-color: red;
    }
}

.header-container:hover {
    background-color: #1d1c1c;
}

.logo {
    width: 7vh;
    height: 7vh;
    border-radius: 100%;
}

.profilePhoto {
    width: 7vh;
    height: 7vh;
    border-radius: 100%;  
}