.header-container {
    position: fixed;
    top: 0;
    background-color: transparent;
    backdrop-filter: blur(30px);
    width: 100vw;
    height: 15vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.logo {
    width: 13vh;
    height: 13vh;
    border-radius: 100%;
}

.profilePhoto {
    width: 13vh;
    height: 13vh;
    border-radius: 100%;  
}