.header-container {
    position: fixed;
    top: 0;
    background:linear-gradient(13deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgba(53,0,255,1) 100%);
    opacity: 20;
    backdrop-filter: blur(15px);
    width: 100vw;
    height: 9vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 2px ;
    border-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(226,35,62,1) 38%, rgba(64,29,253,1) 64%, rgba(252,176,69,1) 100%);
    /* Establece cómo se deben dividir las imágenes en el borde */
    border-image-slice: 1;
    
    /* Puedes ajustar estos valores según tus necesidades */
    border-width: 2px;
    border-style: solid;
    z-index: 8;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

.headerItemsContainer {
    width: 90vw;
    height: 10vh;
    margin-left: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  
}

.modalClubInfo {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: left;
    
}
.updateInfo {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-bottom: 50px;
    
}
.updateInfo h2 {
    padding: 4px;
    width: 10vw;
    text-align: left;
    border-radius: 12px;
    margin-left: 30px;
}

.birthInfo {
 color: white;
 right: 0;
 display: flex;
 justify-content: space-between;
 flex-direction: row;
 align-items: center;
 text-align: left;
}


#updateUser {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 45px;
    left: 32%;
}

@media screen and (max-width: 600px) {
    .header-container {
        background-color: aliceblue;
    }
}

@media screen and (min-width : 600px) and (max-width: 1080px) {
    .header-container {
        background-color: red;
    }
}

.header-container:hover {
    background-color: #1d1c1c;
}

.logo {
    width: 7vh;
    height: 7vh;
    border-radius: 100%;
}

.logo:hover{
    cursor: pointer;
    border: 2px solid grey;
    box-sizing: border-box;
    opacity: 40%;
}
.profilePhoto {
    width: 7vh;
    height: 7vh;
    border-radius: 100%;
    background-size: cover;
    position: absolute;
    top: 1vh;
    right: 9vw;
}

.profilePhoto:hover {
    cursor: pointer;
    border: 2px solid grey;
    box-sizing: border-box;
    opacity: 40%;
}