.singleEventContainer {
   width: 100vw;
   height: 100vh;
   background: linear-gradient(133deg, rgba(32,32,33,1) 11%, rgba(51,35,111,1) 32%, rgba(17,15,105,0.9738270308123249) 57%, rgba(28,36,114,1) 75%, rgba(70,81,84,1) 100%);
   display: flex;
   justify-content: center;
   align-items: center;
}


.singleEventImage {
   width: 70%;
   height: 65%;
   border-radius: 12px;
   margin-bottom: 2vh;
   background-size: cover;
}


.titleImg {
   margin-left: 2vw;
   width: 30vw;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.infoContainerWithMap {
   margin: 2vw;
   width: 35vw;
   height: 70vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: rgba(72, 0, 255, 0.15);
   align-items: center;
   border: 2px solid white;
   border-radius: 12px;
   overflow: auto;
}

.infoContainerWithMap::-webkit-scrollbar {
   width: 4px;
   height: 2px;
   border-radius: 12px;
 }
 
 .infoContainerWithMap::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 }
 
 .infoContainerWithMap::-webkit-scrollbar-thumb {
   background-color: rgb(194, 185, 185);
   border-radius: 12px;
 }

.infoContainerWithMap h2 {
 
   text-align: left;
   opacity: 100%;
    
}

.infoContainer {
   margin: 2vw;
   width: 35vw;
   height: 70vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: rgba(72, 0, 255, 0.15);
   align-items: center;
   border: 2px solid white;
   border-radius: 12px;
   overflow: auto;
}

.infoContainer::-webkit-scrollbar {
   width: 4px;
   height: 2px;
   border-radius: 12px;
 }
 
 .infoContainer::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 }
 
 .infoContainer::-webkit-scrollbar-thumb {
   background-color: rgb(194, 185, 185);
   border-radius: 12px;
 }


.none {
   display: none;
}