.singleEventContainer {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.description {
   color: white;
   bottom: 10px;
   width: 91vw;
}

.singleEventImage {
   width: 70%;
   height: 65%;
   border-radius: 12px;
   margin-bottom: 2vh;
   background-size: cover;
}

.titleImg {
   margin-left: 2vw;
   width: 30vw;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.titleImg h1 {
   width: 50%;
   margin-top: 4vh;
}

.infoContainerWithMap {
   margin: 2vw;
   width: 35vw;
   height: 90%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.infoContainerWithMap::-webkit-scrollbar {
   width: 4px;
   height: 2px;
   border-radius: 12px;
 }
 
 .infoContainerWithMap::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 }
 
 .infoContainerWithMap::-webkit-scrollbar-thumb {
   background-color: rgb(194, 185, 185);
   border-radius: 12px;
 }

.infoContainerWithMap h2 {
 
   text-align: left;
   opacity: 100%;
    
}

.infoContainer {
   margin: 2vw;
   width: 35vw;
   height: 90%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   overflow: auto;
}

.infoContainer::-webkit-scrollbar {
   width: 4px;
   height: 2px;
   border-radius: 12px;
 }
 
 .infoContainer::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 }
 
 .infoContainer::-webkit-scrollbar-thumb {
   background-color: rgb(194, 185, 185);
   border-radius: 12px;
 }

.none {
   display: none;
}

.infoTextWithMap {
   width: 110%;
   background-color: #131313;
   border-radius: 40px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 12%;
   margin-right: 20px;
}

.infoTextWithMap h4 {
   text-align: right;
   color: #FFCA00;
   margin-right: 30px;
}

.infoTextWithMap h3 {
   margin-left: 30px;
   text-align: left;
   color: #ffffff;
}


.infoText {
   width: 95%;
   background-color: #131313;
   border-radius: 40px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 12%;
   margin-right: 20px;
}

.infoText h4 {
   text-align: right;
   color: #FFCA00;
   margin-right: 30px;
}

.infoText h3 {
   margin-left: 30px;
   text-align: left;
   color: #ffffff;
}
