.leaflet-container {
    width: 3vw;
    height: 30vh;
    margin: 2vw;
    background-color: aliceblue; 
    padding: 0;
    left: 2px;
}



.map {
    margin: 2vw;
    width: 24vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
 }