.eventMap {
    margin: 1vw;
    width: 24vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem #ffe4ff);
 }